name: Run Streamlit App

on:
  push:
    branches:
      - main

jobs:
  run-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Streamlit app using secrets
        env:
          creds_json: ${{ secrets.TEST_1 }}
          creds_json_1: ${{ vars.TEST_2 }}
        run: |
          streamlit run main.py
